body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

button, div, h1, h2, p, input {
    font-family: 'Fact', serif;
}

.jat-main {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.jat-main_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body {
    width: 939px;
}

.jat-main-subtypes {
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
}

.jat-routing {
    padding: 55px 25px 0 25px;
    width: 10%;
    border-right: solid 1px #630208;
    text-align: end;
}

.jat-routing_text {
    margin: 50px 0;
    font-weight: 400;
    font-size: 16px;
    color: #630208;
}

.jat-logo {
    width: 100px;
    height: 60px;
    background: url("assets/images/jat-logo.svg") no-repeat center;
    background-size: 100px;
}

.delivery-title {
    font-weight: 800;
    font-size: 30px;
    color: #630208;
    margin-top: 75px;
}

.delivery-content {
    font-weight: 400;
    font-size: 12px;
    color: #630208;
}

.jat-main_inner {
    width: 100%;
}

.jat-main-header_block {
    display: flex;
    flex-direction: row;
    padding: 50px 0 25px 50px;
    border-bottom: 1px solid #630208;
}

.language-selector {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}

.language-selector > * {
    margin-left: 10px;
    margin-right: 10px;
    color: #630208;
}

.active-language {
    font-weight: bold;
}

.jat-alternative {
    width: 700px;
}

.jat-main-body_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body_measurement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.measurement-first, .measurement-second, .measurement-third {
    width: 100px;
    height: 100px;
    margin: 200px 0;
}

.measurement-first {
    background: url("assets/images/measurement-first.svg") no-repeat center;
    background-size: 80px;
}

.measurement-second {
    background: url("assets/images/measurement-second.svg") no-repeat center;
    background-size: 80px;
}

.measurement-third {
    background: url("assets/images/measurement-third.svg") no-repeat center;
    background-size: 80px;
}

.jat-main-subtypes {
    display: flex;
    flex-direction: row;
}

.jat-numbers_block {
    display: grid;
    width: 100%;
}

.number-block {
    text-align: center;
    border: solid 1px #630208;
    border-bottom: none;
    border-left: none;
    color: #630208;
}

.number-block:last-child {
    border-right: none;
}

.number-title {
    font-weight: 900;
    font-size: 30px;
    margin: 35px 0 10px 0;
}

.number-content {
    margin-bottom: 40px;
}


.body-title {
    color: #630208;
    font-weight: 900;
    font-size: 40px;
}

.statistics-title {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 70px;
}

.body-content {
    color: #630208;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.jat-delivery-img.img {
    padding-top: 150px;
}

.jat-main_btn {
    width: 75%;
    font-weight: 900;
    font-size: 12px;
    height: 50px;
    color: #630208;
    background-color: #FFA645;
    margin-top: 50px;
}

.jat-about_block-inner {
    margin: 50px 30px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-image_block {
    padding: 50px 50px 50px 20px;
}

.about-image_block img {
    width: 350px;
}

.jat-routing-body {
    width: 50px;
    border: 1px solid #630208;
    border-left: none;
    border-top: none;
}

.jat-routing_vertical-text {
    margin: 0;
    width: 200px;
    position: relative;
    top: 175px;
    left: -75px;
    transform: rotateZ(90deg);
}

.all-employees_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

.employees-block {
    margin: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.employees-info_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.employee-info p {
    text-align: center;
    margin: 5px 0;
    color: #630208;
}

.employee-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.employee-rank {
    font-weight: 500;
    font-size: 10px;
}

.employee-email, .employee-phone {
    font-weight: 300;
    font-size: 8px;
}

.jat-extra-adv_block-inner {
    margin: 50px 30px 50px 50px;
}

.extra-adv-title {
    color: #630208;
    font-weight: 900;
    font-size: 40px;
}

.extra-adv-phones, .extra-adv-contact-block {
    margin-top: 20px;
}

.extra-adv-pretitle {
    color: #630208;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}

.extra-adv-content {
    color: #630208;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.jat-main_attr {
    display: flex;
    flex-direction: row;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 25px;
}

.jat-main_attr > * {
    margin: 5px;
    text-decoration-line: underline;
    font-size: 8px;
    color: #630208;
}

.jat-main_routing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 30px;
    color: #630208;
}

.jat-main_routing-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.made-by > p {
    font-size: 12px;
    margin-right: 50px;
}

.jat-main_routing-inner > * {
    margin: 0 15px;
    font-size: 12px;
}

.jat-advantages_block, .jat-extra-adv_block {
    width: 50%;
}

.jat-advantages_block-inner {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}

.jat-advantages_block-inner {
    align-items: center;
}

.adv-title {
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 38px;
    margin: 0;
}

.jat-advantages_block {
    background-color: #D23D37;
}

.adv-tabbing_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.active-tabs {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.tab {
    width: 60px;
    border: none;
    border-bottom: solid 1px #fff;
    margin: 0 10px;
}

.active {
    border-bottom: solid 5px #fff;
}

.adv-tabbing_icon {
    width: 120px;
    height: 140px;
    background: url("assets/images/advantage-icon.png") no-repeat center;
    background-size: 120px;
}

.adv-tabbing_title {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    margin: 5px 0;
}

.adv-tabbing_content {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.jat-contact_block-inner {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.jat-contact-info {
    width: 50%;
}

.contact-title {
    color: #630208;
    font-weight: 900;
    font-size: 40px;
}

.contact-phones, .feedback-contact-block {
    margin-top: 40px;
}

.contact-content {
    color: #630208;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}