body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

img {
    max-width: 100%;
}

button, div, h1, h2, p, input {
    font-family: 'Fact', serif;
}

.jat-main {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.jat-main_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body {
    width: 90%;
}

.jat-main-body_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jat-alternative {
    width: 600px;
    background: url("assets/images/hse-image.png") no-repeat -180px -10px;
    background-size: 750px;
}

.jat-routing {
    padding: 55px 25px 0 25px;
    width: 10%;
    border-right: solid 1px #630208;
    text-align: end;
}

.jat-routing_text {
    margin: 50px 0;
    font-weight: 400;
    font-size: 16px;
    color: #630208;
}

.jat-posttitle {
    font-weight: 900;
    font-size: 20px;
    color: #630208;
}

.prepare-text {
    text-align: center;
    margin-bottom: 35px;
}

.language-selector {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}

.language-selector > * {
    margin-left: 10px;
    margin-right: 10px;
    color: #630208;
}

.active-language {
    font-weight: bold;
}



.jat-logo {
    width: 100px;
    height: 60px;
    background: url("assets/images/jat-logo.svg") no-repeat center;
    background-size: 100px;
}

.body-title {
    color: #630208;
    font-weight: 900;
    font-size: 40px;
}

.body-content {
    color: #630208;
    font-weight: 400;
}

.jat-main_inner {
    width: 100%;
}

.jat-main-header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 25px 50px;
    border-bottom: 1px solid #630208;
}

.language-selector {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}

.language-selector > * {
    margin-left: 10px;
    margin-right: 10px;
}

.jat-main-body_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body_measurement {
    width: 200px;
}

.hse-measurement {
    height: 100%;
    background: url("assets/images/hse-measurement.svg") no-repeat center;
}

.jat-delivery_block {
    padding: 50px 0 25px 50px;
    border-right: solid 1px #630208;
    border-bottom: solid 1px #630208;
}

.jat-transportation_block {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: solid 1px #630208;
    background-color: #D23D37;
}

.transportation-text {
    color: #F8F9F9;
    margin-left: 50px;
}

.jat-transportation-logo  {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background: #FFA645 url("assets/images/jat-transportation-logo.svg") no-repeat center;
    background-size: 60px;
}

.jat-about_block {
    border-bottom: solid 1px #630208;
    border-left: solid 1px #630208;
}

.jat-about_block-inner {
    margin: 50px 50px;
}

.jat-advantages_block {
    background-color: #D23D37;
}

.adv-tabbing_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    width: 60px;
    border: none;
    border-bottom: solid 1px #fff;
    margin: 0 10px;
}

.active {
    border-bottom: solid 5px #fff;
}

.adv-tabbing_icon {
    width: 120px;
    height: 140px;
    background: url("assets/images/advantage-icon.png") no-repeat center;
    background-size: 120px;
}

.jat-routing-body {
    width: 50px;
    border: 1px solid #630208;
    border-top: none;
}

.jat-routing_vertical-text {
    margin: 0;
    width: 470px;
    position: relative;
    text-transform: uppercase;
    top: 275px;
    color: #630208;
    left: -210px;
    transform: rotateZ(90deg);
}

.jat-employment-img {
    width: 400px;
    height: 400px;
}

.jat-prepare_block {
    border-top: solid 1px #630208;
    border-bottom: solid 1px #630208;
}

.jat-prepare_block-inner {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jat-contact_block {
    background-color: #D23D37;
}

.prepare-types_block {
    display: grid;
    grid-template-columns: 1fr;
}

.types-preparement {
    text-align: center;
    padding: 10px 0;
    border: solid 1px #630208;
    border-bottom: none;
}

.types-preparement:last-child {
    border-bottom: solid 1px #630208;
}

.types-preparement p {
    font-size: 14px;
    color: #630208;
    margin: 0;
}

.jat-contact_block {
    border-bottom: solid 1px #630208;
    border-left: solid 1px #630208;
}

.jat-contact_block-inner {
    margin: 50px;
}

.contact-title {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}

.contact-phones, .feedback-contact-block {
    margin-top: 40px;
}

.contact-content {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.jat-main_routing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 30px;
    color: #630208;
}

.jat-main_routing-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.made-by > p {
    font-size: 12px;
    margin-right: 50px;
}

.jat-main_routing-inner > * {
    margin: 0 15px;
    font-size: 12px;
}

@media (max-width: 1920px), (max-width: 2560px) {
    .body-content {
        font-size: 20px;
        line-height: 30px;
    }

    .jat-hse-car {
        margin: 100px 0;
        width: 100%;
    }

    .contact-content, .types-preparement p {
        font-size: 20px;
    }

    .jat-posttitle {
        font-size: 24px;
    }
}

@media (max-width: 1350px) {
    .jat-hse-car {
        margin: 75px 0;
    }

    .jat-posttitle {
        font-size: 20px;
    }

    .body-content, .contact-content, .types-preparement p {
        font-size: 12px;
        line-height: 20px;
    }

    .jat-alternative {
        background: url(assets/images/hse-image.png) no-repeat -140px 100px;
        background-size: 650px;
    }
}