body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

button, div, h1, h2, p, input {
    font-family: 'Fact', serif;
}

.jat-main {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.jat-main_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body {
    width: 90%;
}

.jat-main-subtypes {
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
}

.jat-routing {
    padding: 55px 25px 0 25px;
    width: 10%;
    border-right: solid 1px #630208;
    text-align: end;
}

.jat-routing_text {
    margin: 50px 0;
    font-weight: 400;
    font-size: 16px;
    color: #630208;
}

.jat-logo {
    width: 100px;
    height: 60px;
    background: url("assets/images/jat-logo.svg") no-repeat center;
    background-size: 100px;
}

.delivery-title {
    font-weight: 800;
    color: #630208;
    margin-bottom: 100px;
}

.delivery-content {
    font-weight: 400;
    color: #630208;
    margin-bottom: 100px;
}

.jat-main_inner {
    width: 100%;
}

.jat-main-header_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 25px 50px;
    border-bottom: 1px solid #630208;
}

.language-selector {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}

.language-selector > * {
    margin-left: 10px;
    margin-right: 10px;
    color: #630208;
}

.active-language {
    font-weight: bold;
}

.jat-alternative {
    margin-bottom: 150px;
    height: 400px;
}

.jat-alternative.img {
    width: 700px;
    height: 450px;
    margin-top: 70px;
}

.jat-main-body_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body_measurement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.measurement-first, .measurement-second, .measurement-third {
    width: 100px;
    height: 100px;
    margin: 200px 0;
}

.measurement-first {
    background: url("assets/images/measurement-first.svg") no-repeat center;
    background-size: 80px;
}

.measurement-second {
    background: url("assets/images/measurement-second.svg") no-repeat center;
    background-size: 80px;
}

.measurement-third {
    background: url("assets/images/measurement-third.svg") no-repeat center;
    background-size: 80px;
}

.jat-main-subtypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jat-delivery_block {
    padding: 50px 0 25px 50px;
    margin-right: 50px;
}

.body-title {
    color: #630208;
    font-weight: 900;
}

.body-content {
    color: #630208;
    font-weight: 400;
    line-height: 20px;
}

.jat-delivery-img.img {
    padding-top: 150px;
}

.jat-main_btn {
    width: 75%;
    font-weight: 900;
    font-size: 12px;
    height: 50px;
    color: #630208;
    background-color: #FFA645;
    margin-top: 50px;
}

.jat-advantages_block, .jat-about_block {
    width: 50%;
}

.jat-advantages_block-inner, .jat-about_block-inner {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}

.jat-advantages_block-inner {
    align-items: center;
}

.adv-title {
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 38px;
    margin: 0;
}

.jat-advantages_block {
    background-color: #D23D37;
}

.adv-tabbing_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-tabs {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.tab {
    width: 60px;
    border: none;
    border-bottom: solid 1px #fff;
    margin: 0 10px;
}

.active {
    border-bottom: solid 5px #fff;
}

.adv-tabbing_icon {
    width: 120px;
    height: 140px;
    background: url("assets/images/advantage-icon.png") no-repeat center;
    background-size: 120px;
}

.adv-tabbing_title {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    margin: 5px 0;
}

.adv-tabbing_content {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.jat-routing-body {
    width: 50px;
    border: 1px solid #630208;
    border-left: none;
    border-top: none;
}

.jat-routing_vertical-text {
    margin: 0;
    width: 200px;
    position: relative;
    top: 175px;
    left: -75px;
    transform: rotateZ(90deg);
}

.employment-block {
    margin: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.jat-employment-img {
    width: 360px;
    height: 360px;
    margin-top: 30px;
}

.employment-tabbing {
    display: grid;
    grid-template-columns: 95px 95px 95px;
    margin-bottom: 20px;
}

.employment-tabbing > * {
    text-align: center;
    height: 30px;
    border: solid 1px #630208;
    font-weight: 400;
    font-size: 12px;
}

.city-tab {
    border-right: none;
}

.type-tab {
    border-left: none;
}

.employment-tabbing > * p {
    margin: 8px;
    color: #630208;
}

.employment-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.employment-btn, .employment-vacancies-btn {
    margin-top: 0;
}

.employment-btn {
    margin-bottom: 10px;
}

.employment-vacancies-btn {
    background-color: #fff;
    border: 1px solid #630208;
}

.jat-partners_block, .jat-contact_block {
    width: 50%;
}

.jat-partners_block-inner {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 35px;
}

.logo {
    width: 150px;
    height: 90px;
}

.tco {
    background: url("assets/images/tco-logo.svg") no-repeat center;
    background-size: 120px;
}

.ncoc {
    background: url("assets/images/ncoc-logo.svg") no-repeat center;
    background-size: 80px;
}

.kazmin {
    background: url("assets/images/kazmin-logo.svg") no-repeat 30px 25px;
    background-size: 120px;
}

.rggold {
    background: url("assets/images/rg-logo.svg") no-repeat center;
    background-size: 120px;
}

.erg {
    background: url("assets/images/reg-logo.svg") no-repeat center;
    background-size: 150px;
}

.altynalmas {
    background: url("assets/images/altynalmas-logo.svg") no-repeat center;
    background-size: 120px;
}

.jat-contact_block {
    background-color: #D23D37;
}

.jat-contact_block-inner {
    margin: 50px;
}

.contact-title {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}

.contact-phones, .feedback-contact-block {
    margin-top: 40px;
}

.contact-content {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.jat-main_attr {
    display: flex;
    flex-direction: row;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 25px;
}

.jat-main_attr > * {
    margin: 5px;
    text-decoration-line: underline;
    font-size: 8px;
    color: #630208;
}

.jat-main_routing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 30px;
    color: #630208;
}

.jat-main_routing-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.made-by > p {
    font-size: 12px;
    margin-right: 50px;
}

.jat-main_routing-inner > * {
    margin: 0 15px;
    font-size: 12px;
}

@media (max-width: 1920px), (max-width: 2560px) {
    .delivery-title, .body-title {
        font-size: 42px;
    }

    .jat-employment-img {
        width: 600px;
        height: 600px;
    }

    .delivery-content, .body-content {
        font-size: 18px;
    }

    .body-content {
        line-height: 30px;
    }
}

@media (max-width: 1650px) {
    .delivery-title {
        font-size: 30px;
    }

    .body-title {
        font-size: 40px;
    }

    .delivery-content, .body-content {
        font-size: 12px;
    }

    .jat-employment-img {
        width: 360px;
        height: 360px;
    }

    .body-content {
        line-height: 20px;
    }
}

@media (max-width: 1275px) {
    .jat-alternative {
        height: unset;
        margin-bottom: 0;
    }

    .jat-main-body {
        width: unset;
    }

    .jat-alternative.img {
        width: unset;
        height: 320px;
        margin-top: 120px;
        margin-bottom: 0;
    }

    .jat-delivery-img {
        width: 500px;
    }

    .jat-main-header_block {
        width: 100%;
    }

    .jat-delivery-img.img {
        padding-top: 160px;
    }
    .measurement-first, .measurement-second, .measurement-third {
        width: 80px;
        background-size: 50px;
    }
}