body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

button, div, h1, h2, p, input, textarea {
    font-family: 'Fact', serif;
}

.jat-main {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}

.jat-main_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body {
    width: 90%;
}

.jat-main-subtypes {
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
}

.jat-routing {
    padding: 55px 25px 0 25px;
    width: 10%;
    border-right: solid 1px #630208;
    text-align: end;
}

.jat-routing_text {
    margin: 50px 0;
    font-weight: 400;
    font-size: 16px;
    color: #630208;
}

.jat-logo {
    width: 100px;
    height: 60px;
    background: url("assets/images/jat-logo.svg") no-repeat center;
    background-size: 100px;
}

.jat-main_inner {
    width: 100%;
}

.jat-main-header_block {
    display: flex;
    flex-direction: row;
    padding: 50px 0 25px 50px;
    border-bottom: 1px solid #630208;
}

.language-selector {
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
}

.language-selector > * {
    margin-left: 10px;
    margin-right: 10px;
    color: #630208;
}

.active-language {
    font-weight: bold;
}

.body-title {
    color: #630208;
    font-weight: 900;
}

.body-content {
    color: #630208;
    font-weight: 400;
}

.jat-main-body_container {
    display: flex;
    flex-direction: row;
}

.jat-main-body_measurement {
    width: 200px;
}

.service-measurement {
    margin: 100px 0 0 75px;
    height: 100%;
    background: url("assets/images/service-measurement.svg") no-repeat 0 0;
    background-size: 120px;
}

.jat-main-subtypes {
    display: flex;
    flex-direction: row;
}

.jat-delivery_block {
    padding: 50px 0 25px 50px;
}
.jat-delivery-img {
    margin-right: 25px;
}

.jat-delivery-img.img {
    width: 600px;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
}

.jat-main_btn {
    width: 75%;
    font-weight: 900;
    font-size: 12px;
    height: 50px;
    color: #630208;
    background-color: #FFA645;
    margin-top: 50px;
    margin-bottom: 25px;
}

.feedback-btn {
    margin-top: 0;
}

.jat-advantages_block, .jat-about_block {
    width: 50%;
}

.jat-advantages_block-inner, .jat-about_block-inner {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}

.jat-about_block-inner {
    align-items: center;
    margin: 10px 50px 60px 50px;
}

.jat-advantages_block-inner {
    align-items: center;
}

.adv-title {
    color: #fff;
    font-weight: 900;
    font-size: 38px;
    margin: 0;
}

.jat-advantages_block {
    background-color: #D23D37;
}

.adv-tabbing_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-tabs {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.tab {
    width: 60px;
    border: none;
    border-bottom: solid 1px #fff;
    margin: 0 10px;
}

.active-tab {
    border-bottom: solid 5px #fff;
}

.adv-tabbing_icon {
    width: 175px;
    height: 175px;
    background: url("assets/images/advantage-service.svg") no-repeat center;
    background-size: 170px;
}

.adv-tabbing_title {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    margin: 5px 0;
}

.adv-tabbing_content {
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.jat-routing-body {
    width: 50px;
    border: 1px solid #630208;
    border-left: none;
    border-top: none;
}

.jat-routing_vertical-text {
    margin: 0;
    width: 200px;
    position: relative;
    top: 175px;
    left: -75px;
    color: #630208;
    transform: rotateZ(90deg);
}

.jat-employment_block-inner {
    margin: 50px;
}

.employment-btn {
    margin-top: 20px;
}

.employment-img_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.jat-employment-img {
    width: 430px;
}

.jat-internal-tabs {
    display: flex;
    flex-direction: column;
    width: 225px;
}

.jat-internal-tabs > *:first-child {
    border-top: solid 1px #630208;
    border-bottom: 1px solid #630208;
}

.internal-tab {
    height: 20%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px none #630208;
    border-right-style: solid;
    color: #630208;
}

.internal-tab > p {
    margin-left: 30px;
    margin-right: 10px;
}


.active-delivery_tab {
    border-right: none;
    font-weight: bold;
}

.jat-internal-info {
    display: flex;
    flex-direction: row;
}


.feedback-request_block {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.feedback-input {
    height: 40px;
    border: 1px solid #630208;
    font-weight: normal;
    font-size: 12px;
    color: #630208;
    text-align: center;
    margin: 5px 0;
}

.textarea-input {
    height: 80px;
    padding-top: 15px;
}

.feedback-input:focus {
    outline: none;
}

.feedback-input::placeholder {
    font-weight: normal;
    font-size: 12px;
    color: #630208;
}

.about-title {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #630208;
}



.jat-contact_block {
    background-color: #D23D37;
}

.jat-partners_block, .jat-contact_block {
    width: 50%;
}

.jat-contact_block-inner {
    margin: 50px;
}

.contact-title {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}

.contact-phones, .feedback-contact-block {
    margin-top: 40px;
}

.contact-content {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.jat-partners_block-inner {
    margin: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.jat-top_partners {
    margin-top: 30px;
}

.top-partners_title {
    font-weight: 900;
    font-size: 12px;
    color: #630208;
    text-align: center;
}

.partner-classification {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.partner-classification > * {
    border: 1px solid #630208;
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    color: #630208;
}

.oil_and_gas_box {
    border-top: none;
    grid-column-start: 1;
    grid-column-end: 3;
}

.jat-main_routing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #630208;
    border-top: none;
    border-left: none;
    padding-left: 30px;
    color: #630208;
}

.jat-main_routing-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.made-by > p {
    font-size: 12px;
    margin-right: 50px;
}

.jat-main_routing-inner > * {
    margin: 0 15px;
    font-size: 12px;
}

.head-title {
    margin-top: 50px;
}

@media (max-width: 1920px), (max-width: 2560px) {
    .body-title {
        font-size: 50px;
    }

    .body-content {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1650px) {
    .jat-alternative {
        width: 700px;
        margin-top: 25px;
    }

    .jat-delivery-img.img {
        padding-top: 50px;
    }

    .body-title {
        font-size: 40px;
    }

    .body-content {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 1250px) {
    .jat-delivery_block {
        width: 300px;
    }

    .jat-delivery-img.img {
        padding-top: 150px;
    }
}

@media (max-width: 1200px) {
    .jat-alternative {
        width: 600px;
    }

    .delivery-content {
        font-size: 9px;
    }

    .service-measurement {
        margin-left: 30px;
    }

    .jat-employment-img {
        width: 300px;
    }

    .jat-routing_text {
        font-size: 15px;
    }

    .adv-title {
        font-size: 32px;
    }
}