*{
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

.mobile-jat-work {
    overflow: hidden;
}
/* Header ------------------------------------------------------------------------------------------------------*/
.mobileHeader {
    position: fixed;
    z-index: 1;
    
    top: 0;
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: no-repeat center 100% url('../../../../assets/icons/Transport.svg');
    background-color: #fff;
    padding: 0 10px;
}

.language-selector {
    display: flex;
    flex-direction: row;
    width: 70px;
    height: 25px;
    position: relative;
}

.lang-text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    color: #393940;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-lang {
    background-color: #FFE800;
    border: 1px solid #131313;
    border-radius: 5px;
}

.dropdown_icon {
    position: absolute;
    left: 10px;
    width: 32px;
    min-height: 21px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('../../../../assets/icons/dropdown_icon.svg');
    
}
.dropdown_menu {

    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transform: translate(0, -112%);
    transition: all 1s cubic-bezier(0, 0.81, 0.26, 0.98);
}
.drop_act{
    background: #FFE800;
    border: 2px solid #393940;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #131313;
}
.dropdown_menu a{
    height: 40px;
    font-family: 'Montserrat';
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    text-transform: uppercase;
    color: #131313;
    padding: 10px;
    text-decoration: none;
}

.show {
    display: block;
    transform: translate(0, 0);
    opacity: 1;
}
.mobileHeader_logo {

    width: 60px;
    min-height: 28px;
    margin-left: 20px;
    background: url('../../../../assets/icons/header_logo.svg') no-repeat left;
    background-size: 100%;
}

/* __________________________________________________________________________________________________________ */


.stripes {
    min-height: 10px;
    width: 64px;
    position: absolute;
    top: 0;
    background-image: url('../../../../assets/icons/stripes.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
}
.mobileHR_work {
    padding-top: 42px;
}
.mobileHR_work-bg{
    width: 100%;
    min-height: 193px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../../../assets/icons/JAT_2exp_all_new3.jpg');
}
.mobileHR_work-title {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    
    color: #FFFFFF;
    font-style: italic;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    width: 40%;
}
.mobileHR_work-subtitle {
    box-sizing: content-box;
    margin-bottom: 0;
    padding: 10px 10px;
    width: 80%;
    position: relative;
    background: #B62D39;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    padding-left: 24%;
    padding-top: 10px;
    margin-top: 0;
}
.attention{
    position: absolute;
    left: 5%;
    top: 20%;
    width: 68px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../../../assets/icons/attention.svg');
}
.mobileHR_vacancies {
    padding-top: 25px;
}
.mobileVacancie_wrapper {
    width: 100%;
    position: relative;
}
.mobileVacancies_wrapper {
    position: relative;
    width: 100%;
}
.mobileVacancie {
    padding: 20px 10px;
    width: 100%;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 1.3s ease .5s;
}
.blueRectangle {
    width: 22px;
    height: 16px;
    background-color: #5FFFFF;
    position:absolute;
    top: 0;
    left: 0;

}
.mobileVacancie_title {
    margin-top: 0;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #131313;
    margin-top: 0;
}
.mobileVacancie_info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    
    text-transform: uppercase;
    color: #B62D39;
}
.mobileVacancie_info_where {
    padding: 2px 5px;
    background-color: #FFE800;
    background: #FFE800;
    border: 1px solid #393940;
    border-radius: 4px;
    color: #393940;
}

.mobileVacancie_text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #131313;
}
.mobileVacancie_btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mobileVacancie_btn {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    width: 100%;
    min-height: 40px;
    background-color: #FFE800;
    border: 0;
}
.btn_active{
    background-color: #FFE800;
    border: 0;
}
.mobileContacts_wrapper {
    opacity: 0;
    transition: all 1.3s ease .5s;
}
.mobileContacts {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0 10px;
    position: relative;
    background: #fff;
    
}
.mobileContacts_title-wrapper {
    position: relative;
    width: 100%;
}
.mobileContacts_title {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    text-align: center;

    color: #131313;
    margin-bottom: 30px;
}
.mobileContacts_adress-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.mobileContacts_phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}
.mobileContacts_phones{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.mobileContacts_email {
    width: 100%;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

}
.mobileContacts_email-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-transform: uppercase;

    color: #393940;
    width: 60%;
}
.mobileContacts_email-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-transform: uppercase;

    /* JAT_main_red */

    color: #B62D39;

    width: 30%;
}
.mobileFooter {
    width: 100%;
    height: 42px;
    background: no-repeat center 100% url('../../../../assets/icons/Transport.svg');
}
/* --------------------------------------------------------------------------------------------------------- */
.sendModal_wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    top: 0;
    
    display: none;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease;
}
.sendModal {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    background: #fff;
    position: fixed;
    opacity: 0;
    transform: scale(0);
    top: 0;
    z-index: 99;
    display: none;
    transition: all 1s ease;
}
.sendModal_subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #131313;
}
.sendModal_title {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #131313;

}
.sendModal_form {
    width: 100%;
}
.sendModal_button {
    width: 100%;
    height: 40px;
    background: #FFE800;
    border: 2px solid #393940;
    margin: 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    text-align: center;
    text-transform: uppercase;
    color: #131313;
}
.sendModal_adress {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
}
.sendModal_phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 126.9%;

    text-align: center;
    text-transform: uppercase;
    color: #131313;
}
.sendModal_input{
    padding: 0 10px;
    width: 100%;
    height: 31px;
    margin: 5px 0;
    border: 0.5px solid #393940;
    border-radius: 3px;
}
.sendModal_input::placeholder{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    color: #131313;
    opacity: 0.32;
}


.sendModal_input__wrapper {
    width: 100%;
    position: relative;
    margin: 5px 0;
    text-align: center;
    background: #FFFFFF;
    /* Dark */

    border: 0.5px solid #393940;
    border-radius: 3px;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    
  }
   
  .input__file-icon-wrapper {
    height: 31px;
    width: 30px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
  .input__file-icon{
    margin-left: 10px;
    width: 30px;
    height: 20px;
    object-fit: fill;
  }
  .input__file-button-text {
    line-height: 20px;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    height: 31px;
    background: #fff;
    
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    /* identical to box height, or 260% */

    text-align: center;

    color: #131313;
  }

  .sendModal_close{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('../../../../assets/icons/modal_close.svg');
    position: absolute;
    top: 5px;
    right: 10px;
}
/* --------------------------------------------------------------------------------------------------------- */
.modalWindow{
    
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
}

.modalWindow_content{
    position: absolute;
    top: calc(50% - 119px);
    padding: 10px;
    width: 100%;
    min-height: 238px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../assets/icons/modal_thanks.svg');

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modalWindow_content-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #131313
}
.modalWindow_content-button{
    
    width: 100%;
    height: 41px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    background: #FFE800;
    border: 0;
}
.mobileHeader {
    position: fixed;
    z-index: 1;
    
    top: 0;
    width: 100%;
    min-height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: no-repeat center 100% url('../../../../assets/icons/Transport.svg');
    background-color: #fff;
    padding: 0 10px;
}

.modalWindow_content-close{
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('../../../../assets/icons/modal_close.svg');
    position: absolute;
    top: 5px;
    right: 10px;
}


/* -----------------------------------------------------------------------------------------------------------+ */
._active{
    opacity: 1;
    transform: translate(0, 0);
}
@media (max-width: 320px){
    .mobileContacts_email-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
    
        text-transform: uppercase;
    
        /* JAT_main_red */
        color: #B62D39;
    
        width: 35%;
    }
}