body {
    margin: 0;
}

p, h1, h2, div, button, textarea, input {
    font-family: Montserrat, serif;
    font-style: normal;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    transition: border linear .05s;
    border: 2px solid #000000;
}

img {
    max-width: 100%;
}

.jat-main {
    background-color: #B62D39;
}

.jat-main_inner {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin: auto;
}

/* sidebar */

.jat-sidebar {
    border-left: solid 2px #e5e5e5;
    width: 15%;
    padding-top: 100px;
    margin-left: 10%;
}

.routing-icons--items_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 25px;
    padding-bottom: 50px;
}

.routing-block_item {
    cursor: pointer;
    margin: 25px 25px;
    padding: 10px;
    border: none;
    transition: border linear .15s;
}

.main-text {
    width: 70px;
}

.service-text {
    width: 70px;
}

.hse-text {
    width: 50px;
}

.hr-text {
    width: 50px;
}

.routing-block_item:hover {
    border: solid 1px #fff;
}

.active-route {
    background-color: #FFE800;
    border: 2px solid #393940;
    border-radius: 4px;
}

.active-route > .routing-block_text {
    color: #45443C;
    font-weight: 700;
}

.jat-logo-sidebar {
    display: none;
    height: 75px;
    background: url("../../assets/icons/jat-logo-sidebar.svg") no-repeat center;
}

.routing-block_text {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffff;
    font-weight: 500;
    margin: 0;
}

.routing-icons, .upper-icon_block, .mail-icon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-icon_block, .mail-icon_block {
    display: none;
}

.upper-icon {
    cursor: pointer;
    width: 40px;
    height: 60px;
    background: url("../../assets/icons/up-icon.svg") no-repeat center;
}

.mail-icon_block {
    cursor: pointer;
    width: 75px;
    height: 75px;
    background: url("../../assets/icons/mail-icon.svg") no-repeat center;
    background-size: 75px;
    margin-top: 50px;
}

.mail-text {
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    color: #131313;
}

/* jat body */

.jat-body {
    width: 85%;
    background-color: #fff;
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/transport-logo.png");
    background-position: 100px 0, -180px 0;
    background-repeat: no-repeat;
    background-size: 100px, 1100px;
}

.container-img {
    width: 50%;
    opacity: 0;
    transform: translate(0, -30%);
    transition: all 1s ease 0.8s;
}

.container-img img {
    width: 100%;
    margin-top: 15rem;
}

/* jat head */

.jat-head {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #B62D39;
}

.main-body_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 90px;
}

.main-logo {
    width: 200px;
    height: 60px;
    background: url("../../assets/icons/jat-logo.svg") no-repeat;
    background-size: 80px;
}

.selector_block {
    position: relative;
}

.language-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: url("../../assets/icons/ru-logo.png") no-repeat right;
    background-size: 60px;
    position: absolute;
    left: 810px;
    top: 50px;
}

.main-title_block {
    margin: 50px 0 0 90px;
}

.main-body_title {
    font-style: italic;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: #ffff;
    text-shadow: #000;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
}

.main-body-content {
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/yellow-rect.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 30px 0, 0 0;
    background-size: 100px, 80px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 45px;
    margin-bottom: 75px;
}

.main-body-content_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #131313;
}

/* jat services */

.jat-services-block {
    border-bottom: #B62D39 1px solid;
}

.jat-services {
    display: flex;
    flex-direction: row;
    padding: 0 50px 120px 50px;
}

.services-main-title {
    font-style: italic;
    font-size: 26px;
}

.services-content__block {
    margin-bottom: 25px;
}

.services-main-content {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.service-more-info_inner {
    background-image:url("../../assets/icons/lines.svg"), url("../../assets/icons/aqua-block-about.svg");
    background-repeat: no-repeat;
    background-size: 75px, 80px;
    background-position: 15px 5px, -20px -15px;
    padding-top: 10px;
}

.service-info-more-title_block {
    margin-left: 30px;
}

.service-info-more--text, .service-info-more_title--text {
    font-size: 10px;
    line-height: 15px;
}

.service-info-more_title--text {
    font-weight: 550;
}

.service-titles--section {
    width: 30%;
    padding-right: 25px;
    padding-top: 50px;
}

.service--info_section {
    width: 57.5%;
    padding-top: 10px;
    padding-right: 12.5%;
    margin-left: 50px;
}

.titles-list__title {
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
}

.titles-list {
    list-style-type: none;
    padding-left: 0;
}

.titles-item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin: 30px 0;
    padding-left: 20px;
}

.titles-item:hover {
    cursor: pointer;
}

.active-title {
    background-color: #FFE800;
    border: 2px solid #393940;
    border-radius: 4px;
    font-weight: 700;
    padding: 10px 5px 10px 20px;
}

/* jat advantages */

.jat-advantages {
    padding: 15px;
}

.jat-advantages_inner {
    padding: 15px 15px 15px 50px;
}

.jat-advantages-title_text {
    font-style: italic;
    font-size: 26px;
}

.jat-data_block {
    display: flex;
    flex-direction: row;
}

.jat-data--item {
    display: flex;
    flex-direction: row;
}

.data-icon {
    padding: 5px;
    width: 50px;
}

.line-icon_block {
    width: 75px;
    padding: 5px 5px 5px 0;
}

.data_block {
    width: 60%;
    margin-top: 8px;
}

.data-title__text, .data-content__text {
    margin-left: 10px;
}

.data-title__text {
    font-weight: 700;
    font-size: 14px;
}

.data-content__text {
    margin-top: 5px;
    font-weight: 550;
    font-size: 12px;
}

.yellow-rectangle_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.yellow-rect {
    width: 50px;
    background-color: #FFE800;
}

.first-yellow {
    height: 125px;
}

.second-yellow {
    height: calc(100% - 225px);
}

/* jat service employee */

.jat-how_we_work {
    background: url("../../assets/icons/jat-service-employee.png") no-repeat center;
    background-size: cover;
}

.how_we_work-inner {
    padding: 50px 0 20px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how_we_work-inner {
    width: 50%;
}

.how_we_work-title {
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 43px;
    opacity: 0;
    transform: translate(-30%, 0);
    transition: all 1s ease 0.8s;
}

.how_we_work-content {
    font-weight: 550;
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    transform: translate(-30%, 0);
    transition: all 1s ease 1s;
}

.how_we_work-btn {
    text-transform: uppercase;
    margin: 50px 0;
    background-color: #FFE800;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 300px;
    height: 40px;
    opacity: 0;
    transform: translate(-30%, 0);
    transition: all 1s ease 1.2s;
}

.pagination_block-second, .pagination_block-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination_block {
    width: calc(30% - 20px);
    padding: 0 20px;
    border: 3px solid #393940;
    background-color: #fff;
    border-radius: 3px;
}

.pagination_block-second {
    position: absolute;
    bottom: 25px;
    width: 70%;
    border: 3px solid #393940;
    background-color: #fff;
    border-radius: 3px;
}

.pagination-control {
    display: flex;
    flex-direction: row;
}

.prev-arrow, .next-arrow {
    cursor: pointer;
    margin: 0 10px;
}

.current-arrow, .current-arrow-second {
    display: none;
    position: absolute;
    top: 20px;
    width: 17px;
    left: -1px;
    border-top: 5px solid #fff;
    margin: 5px 0;
}

.pagination--item {
    margin: 0 5px;
}

.pagination--item_block {
    position: relative;
}

.pagination--item:hover {
    cursor: pointer;
}

.pagination-text {
    margin: 0;
    font-weight: 500;
}

.about_and_hr {
    display: flex;
    flex-direction: row;
}

.about_and_hr-inner {
    width: 75%;
}

.about_block, .hr_block {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    border-bottom: solid 1px #B62D39;
}

.advantages-work {
    position: relative;
    width: 45%;
    background-color: #B62D39;
}

.advantages-work--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.advantage-text_block {
    background: url("../../assets/icons/title-back.svg") no-repeat center;
    background-size: contain;
    padding: 50px;
}

.advantage-text, .advantage-title-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.advantage-title-text {
    margin-bottom: 0;
}

.advantage-content_block {
    padding: 5px;
}

.advantage-content-text {
    font-weight: 500;
    margin-top: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.advantages-image_block {
    width: 75%;
}

.advantage_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* about info */

.advantages-info {
    width: 55%;
    border-right: solid 1px #B62D39;
    background: url("../../assets/icons/jat-advantage-icon.svg") no-repeat 20px 40px;
    background-size: 50px;
    padding-right: 50px;
}

.advantages-info_inner {
    padding-top: 35px;
    padding-left: 85px;
    background: url("../../assets/icons/lines.svg") no-repeat 130px 0;
}

.advantage-info_title {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 1s ease .8s;
}

.advantage-info_content {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 50px 0;
}

.jat-inputs_block {
    margin-bottom: 15px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 1s ease 1s;
}

.jat-input--item {
    padding: 10px 5px 10px 0;
}

.jat-contact_input {
    width: 100%;
    height: 35px;
    border: 1px solid #393940;
    border-radius: 3px;
    padding-left: 10px;
    font-weight: 400;
    color: #131313;
    opacity: 0.32;
}

.jat-contact_input::placeholder {
    color: #131313;
    opacity: 0.75;
    font-weight: 400;
}

.textarea-input {
    padding-top: 10px;
    height: 60px;
}

.advantages-button, .hr-button {
    text-transform: uppercase;
    background-color: #FFE800;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 85%;
    height: 50px;
    margin-bottom: 50px;
}

.advantages-button{
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 1s ease 1.2s;
}

/* measurements */

.measurements-block {
    display: flex;
    flex-direction: column;
    border-right: solid 1px #B62D39;
    border-bottom: solid 1px #B62D39;
    padding-top: 100px;
}

.measurement--item {
    width: 75px;
    height: 75px;
    margin: 10px;
    transition: transform linear .15s;
}

.measurement--item:hover {
    transform: scale(1.5);
    transition: transform linear .15s;
}

.first-measurement {
    background: url("../../assets/icons/operator-service-icon.svg") no-repeat center;
    background-size: 50px;
}

.second-measurement {
    background: url("../../assets/icons/time-service-icon.svg") no-repeat center;
    background-size: 50px;
}

.third-measurement {
    background: url("../../assets/icons/24-hours-icon.svg") no-repeat center;
    background-size: 50px;
}

.fourth-measurement {
    background: url("../../assets/icons/heavylifter-icon.svg") no-repeat center;
    background-size: 50px;
}

.empty-block {
    width: 200px;
}

/* contacts */

.partners-contact-block {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #B62D39;
}

.partners-block {
    width: 30%;
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 20px;
}

.partners-text {
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 43px;
}

.worker-content-text {
    font-size: 14px;
}

.clients-title {
    font-weight: 700;
    font-size: 18px;
}

.clients-sphere_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sphere--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform linear .25s;
}
.sphere--item:hover{
    transform:scale(1.3);
    transition: transform linear .25s;
}

.sphere--item, .sphere-img_block {
    padding: 5px;
}

.sphere-img_block img {
    width: 40px;
}

.sphere-content--text {
    font-size: 8px;
}

.contact-block {
    width: calc(45% - 120px);
    background-color: #B62D39;
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-medias_block {
    display: flex;
    flex-direction: row;
    background: url("../../assets/icons/contact-bg.svg") no-repeat center;
    background-size: contain;
    margin-top: 15px;
    margin-left: 25px;
}

.social-media-title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin: 40px 20px 40px 0;
}

.social-medias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-medias > * {
    margin: 0 5px 5px 10px;
}

.instagram {
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/instagram-white.svg") no-repeat center;
    background-size: 30px;
}

.facebook {
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/facebook-white.svg") no-repeat center;
    background-size: 30px;
}

.linkedin {
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/linkedin-white.svg") no-repeat center;
    background-size: 30px;
}

.youtube {
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/youtube-white.svg") no-repeat center;
    background-size: 30px;
}

.contact-content-block {
    display: flex;
    flex-direction: row;
}

.contact-text {
    color: #ffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.contacts-emails {
    margin-bottom: 200px;
}

.contact-email {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-email_1{
    opacity: 0;
    transform: translate(112%, 0);
    transition: all 2s ease;
}
.contact-email_2 {
    opacity: 0;
    transform: translate(112%, 0);
    transition: all 2.2s ease;
}


.contact-email-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-email-text:nth-child(2n) {
    color: #B62D39;
}

.jat-logo_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jat-logo_block img {
    margin-right: 25px;
    margin-bottom: 25px;
}

/* jat footer */

.jat-footer {
    height: 100px;
    background: #fff url("../../assets/icons/transport-logo.png") no-repeat center;
    background-size: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    margin: 0 17.5% 0 15%;
    font-weight: 900;
    font-size: 8px;
    text-align: end;
}

@keyframes dropDownLogo {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dropUpLogo {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}


@keyframes opening {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes closing {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.service-info--item {
    display: none;
}

.active-service {
    display: block;
}

.feedback-modal_block {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.feedback-modal {
    position: absolute;
    z-index: 99;
    width: 550px;
    height: 250px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/modal-yellow-icon.svg"), url("../../assets/icons/modal-triangle-icon.svg");
    background-repeat: no-repeat;
    background-position: 215px 0, 200px 0, 50px 40px;
    background-size: 80px, 60px, 50px;
}

.feedback-inner {
    padding: 10px;
}

.feedback-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.close-block {
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
}

.close-icon {
    cursor: pointer;
    width: 30px;
    height: 35px;
    background: url("../../assets/icons/close-icon.svg") no-repeat center;
    background-size: 20px;
    margin-right: 10px;
}

.modal-content, .close-button_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.close-button_block {
    margin-right: 100px;
}

.modal-content--text {
    font-weight: 700;
    font-size: 18px;
}

.modal-btn {
    background-color: #FFE800;
    width: 50%;
    height: 50px;
}

.question-apply_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.question-modal {
    position: absolute;
    z-index: 99;
    width: 800px;
    max-height: 520px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/question-modal-rect.svg"), url("../../assets/icons/modal-triangle-icon.svg");
    background-repeat: no-repeat;
    background-position: 520px 0, 490px 5px, 50px 40px;
    background-size: 90px, 80px, 50px;
}

.question-inner {
    padding: 10px 10px 0 0;
}

.question-modal_bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.close-block {
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
}

.close-icon {
    cursor: pointer;
    width: 30px;
    height: 35px;
    background: url("../../assets/icons/close-icon.svg") no-repeat center;
    background-size: 20px;
    margin-right: 10px;
}

.modal-content-second {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.modal-title_block, .form-inputs {
    padding: 0 0 0 125px;
}

.modal-title_block {
    margin: 20px 0;
}

.question-modal--text {
    margin: 0;
    font-size: 24px;
}

.question-rank--text {
    font-style: italic;
    font-size: 34px;
    margin: 10px 0;
}

.modal-input--item {
    margin: 15px 0;
    position: relative;
}

.close-button_block-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-content--text {
    font-weight: 700;
    font-size: 18px;
}

.modal-btn-second {
    background-color: #FFE800;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 12px;
    padding: 0 20px;
}

.question-modal_input, .file-input_cover {
    width: 100%;
    height: 35px;
    border: 1px solid #131313;
    border-radius: 3px;
    padding-left: 10px;
    color: #131313;
    font-size: 14px;
}

.textarea-modal-input {
    padding-top: 10px;
    height: 80px;
}

.question-modal_input::placeholder {
    opacity: 0.6;
}

.file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 99;
}

.file-input_cover {
    width: calc(100% - 42px);
    padding-left: 40px;
    position: absolute;
    background: url("../../assets/icons/pdf-icon.svg") no-repeat 10px 5px;
    top: 0;
}

.file-input--text {
    margin: 9px 0;
}

.contact-block-modal {
    padding-top: 50px;
    padding-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image:url("../../assets/icons/lines.svg"), url("../../assets/icons/yellow-question-modal-rect.svg");
    background-size: 100px, 85px;
    background-position: 20px 10px, 0 0;
    background-repeat: no-repeat;
}

.contact-location--text, .contact-phone--text {
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
}

@keyframes closeModal {
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.66;
    }
    100% {
        opacity: 0;
    }
}

@keyframes openModal {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.33;
    }
    60% {
        opacity: 0.66;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .main-body_title {
        font-size: 75px;
        line-height: 115px;
    }

    .main-body-content_text {
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .jat-body {
        background-position: 75px 0, -120px 0;
        background-size: 60px, 750px;
    }

    .main-body_logo {
        margin-top: 60px;
        margin-left: 60px;
    }

    .main-logo {
        background-size: 60px;
    }

    .main-body_title {
        font-size: 40px;
    }

    .main-body-content_text {
        font-size: 10px;
        line-height: 20px;
    }

    .main-title_block {
        margin: 50px 0 0 80px;
    }

    .main-body-content {
        background-size: 70px, 50px;
        background-position: 20px 0, 0 0;
        padding-left: 30px;
    }

    .services-main-title {
        font-size: 22px;
    }

    .services-main-content {
        font-size: 10px;
    }

    .titles-item {
        font-size: 10px;
    }

    .jat-advantages-title_text {
        font-size: 22px;
    }

    .data-title__text {
        font-size: 12px;
    }

    .data-content__text {
        font-size: 10px;
    }

    .how_we_work-content {
        font-size: 10px;
    }

    .how_we_work-btn {
        font-size: 8px;
        width: 220px;
        height: 35px;
    }

    .pagination_block {
        width: 140px;
        border: solid 2px #131313;
    }

    .pagination-text, .prev-arrow, .next-arrow {
        font-size: 11px;
    }

    .current-arrow {
        margin: 5px 0 20px 35px;
    }

    .advantages-work {
        justify-content: flex-start;
    }

    .advantage-info_title {
        font-size: 20px;
    }

    .empty-block {
        width: 125px;
    }

    .advantage-text, .advantage-title-text {
        font-size: 14px;
    }

    .jat-contact_input {
        height: 25px;
        font-size: 10px;
    }

    .textarea-input {
        height: 50px;
    }

    .advantage-text_block {
        padding: 0 35px 35px 35px;
        background-position: 0 0;
    }

    .advantages-info {
        background-size: 35px;
    }

    .advantages-info_inner {
        padding-left: 65px;
        padding-top: 25px;
    }

    .advantages-button {
        height: 35px;
        font-size: 8px;
    }

    .measurement--item {
        width: 50px;
        height: 50px;
    }

    .first-measurement, .second-measurement, .third-measurement {
        background-size: 35px;
    }

    .fourth-measurement {
        background-size: 35px;
    }

    .partners-block {
        margin-left: 10px;
    }

    .partners-text {
        font-size: 18px;
    }

    .worker-content-text {
        font-size: 10px;
    }

    .contact-block {
        width: 40%;
        padding-top: 0;
        padding-left: 60px;
    }

    .facebook, .instagram, .youtube, .linkedin {
        width: 15px;
        height: 15px;
        background-size: 15px;
    }

    .social-medias_block {
        margin-left: 0;
    }

    .social-media-title {
        font-size: 16px;
        margin: 40px 10px 40px 0;
    }

    .social-medias > * {
        margin: 0 5px 5px 5px;
    }

    .contact-text, .contact-email-text {
        font-size: 8px;
    }

    .contacts-emails {
        margin-bottom: 0;
    }

    .clients-title {
        font-size: 14px;
    }

    .sphere-img_block img {
        width: 35px;
    }

    .sphere-content--text {
        font-size: 7px;
    }

    .jat-logo_block img {
        width: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .routing-block_item {
        margin: 25px 15px;
    }

    .routing-block_text {
        font-size: 10px;
    }

    .upper-icon {
        background-size: 30px;
    }

    .mail-text {
        margin-top: 10px;
    }

    .mail-icon_block {
        width: 60px;
        height: 60px;
        padding: 10px;
        background-size: 50px;
    }

    .language-selector {
        background-position: center;
        height: 50px;
        width: 50px;
        background-size: 40px;
        font-size: 10px;
        top: 25px;
        left: 550px;
    }

    .jat-sidebar {
        padding-bottom: 400px;
    }

    .jat-logo-sidebar {
        height: 60px;
        background-size: 100px;
    }

    .jat-footer {
        height: 60px;
        background-size: 750px;
    }

    .footer-text {
        font-size: 5px;
    }
}

._active{
    opacity: 1;
    transform: translate(0, 0);
}
