body {
    margin: 0;
}

p, h1, h2, div, button, textarea, input {
    font-family: Montserrat, serif;
    font-style: normal;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    transition: border linear .05s;
    border: 2px solid #000000;
}

.jat-main {
    background-color: #B62D39;
}

.jat-main_inner {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin: auto;
}

/* sidebar */

.jat-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 2px #e5e5e5;
    width: 15%;
    padding-top: 100px;
    margin-left: 10%;
}

.routing-block_item {
    cursor: pointer;
    margin: 25px 25px;
    padding: 10px;
    border: none;
    transition: border linear .15s;
}

.routing-block_item:hover {
    border: solid 1px #fff;
}

.main-text {
    width: 70px;
}

.service-text {
    width: 70px;
}

.hse-text {
    width: 50px;
}

.hr-text {
    width: 50px;
}

.active-route {
    background-color: #FFE800;
    border: 2px solid #393940;
    border-radius: 4px;
    color: #45443C;
}

.active-route > .routing-block_text {
    color: #45443C;
    font-weight: 700;
}

.jat-logo-sidebar {
    height: 75px;
    background: url("../../assets/icons/jat-logo-sidebar.svg") no-repeat center;
}

.routing-block_text {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffff;
    font-weight: 500;
    margin: 0;
}

.routing-icons {
    margin-top: 200px;
}

.routing-icons, .mail-icon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail-icon_block {
    width: 75px;
    height: 75px;
    background: url("../../assets/icons/mail-icon.svg") no-repeat center;
    background-size: 75px;
    margin-top: 50px;
}

.mail-text {
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    color: #131313;
}

/* jat body */

.jat-body {
    width: 85%;
    background-color: #fff;
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/transport-logo.png");
    background-position: 100px 0, -180px 0;
    background-repeat: no-repeat;
    background-size: 100px, 1100px;
}

/* jat head */

.main-body_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 85px;
    margin-left: 80px;
}

.main-logo {
    width: 200px;
    height: 60px;
    background: url("../../assets/icons/jat-logo.svg") no-repeat;
    background-size: 80px;
}

.language-selector {
    width: 60px;
    background: url("../../assets/icons/ru-logo.png") no-repeat right;
    background-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: -70px;
    left: -230px;
}

.title_n_content-block {
    border-top: #B62D39 solid 1px;
}

.main-title_block {
    margin: 25px 0 0 70px;
}

.main-body_title {
    font-style: italic;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: #ffff;
    text-shadow: #000;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    margin: 0;
}

.main-body-content {
    width: 60%;
    margin-left: 70px;
    padding-top: 10px;
    margin-bottom: 75px;
}

.main-body-content_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #131313;
}

.contacts-map_block {
    padding: 0 50px 25px 50px;
}

.contacts-title--text {
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
}

.contacts-map_img {
    width: 100%;
    position: relative;
    height: 70vh;
    box-sizing: border-box;
}

.map_image {
    width: 100%;
    height:100%;
}

.city {
    display: inline-block;
    padding: 3px 32px 3px 35px;
    background-color: #FFE800;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #131313;
    cursor: pointer;
}

.city::before {
    content: '';
    position: absolute;
    left: -25px;
    bottom: -5px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/icons/star-icon.svg');
}

.city:hover {
    transform: scale(1.05);
    transition: .1s linear;
}

.huston {
    position: absolute;
    top: 47.7%;
    left: 14%;
}

.madrid {
    position: absolute;
    top: 47%;
    left: 36%;
}

.klapeida {
    position: absolute;
    top: 41%;
    left: 44%;

}

.novoross {
    position: absolute;
    top: 47%;
    left: 51%;
}

.stambul {
    position: absolute;
    top: 54%;
    left: 44%;
}

.dubai {
    position: absolute;
    top: 61%;
    left: 50%;
}

.hoshimin {
    position: absolute;
    top: 60%;
    left: 70%;
}

.brisben {
    position: absolute;
    top: 84%;
    left: 69%;
}

.cindao {
    position: absolute;
    top: 46%;
    left: 78%;
}

.nahodka {
    position: absolute;
    top: 34%;
    left: 85%;
}

.city_aberdin {
    display: inline-block;
    padding: 3px 32px 3px 35px;
    background-color: #FFE800;
    /*position: relative;*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #131313;

    position: absolute;
    top: 34%;
    left: 31%;
    cursor: pointer;
}

.city_aberdin::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: -5px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/icons/star-icon.svg');
}


@media screen and (max-width: 1440px) {
    .city {
        padding: 3px 32px 3px 25px;
        font-size: 14px;
    }

    .city::before {
        content: '';
        position: absolute;
        left: -20px;
        bottom: -5px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../assets/icons/star-icon.svg');
    }


    .city_aberdin {
        display: inline-block;
        padding: 3px 25px 3px 32px;
        background-color: #FFE800;
        position: relative;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        color: #131313;

        position: absolute;
        top: 34%;
        left: 31%;
    }
    .city_aberdin::after {
        content: '';
        position: absolute;
        right: -20px;
        bottom: -5px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../assets/icons/star-icon.svg');
    }
}

/* contacts map block */

.contacts-location_block {
    display: flex;
    flex-direction: row;
}

.contact-text {
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
}

/* jat body footer */

.jat-body-footer {
    border-top: #B62D39 solid 1px;
    border-bottom: #B62D39 solid 1px;
}

.jat-body-footer_inner {
    display: flex;
    padding-left: 70px;
    flex-direction: row;
    background-image: url("../../assets/icons/lines.svg"), url("../../assets/icons/yellow-rect.svg");
    background-repeat: no-repeat;
    background-size: 85px, 65px;
    background-position: 60px 0, 35px 5px;
}

.contacts-cold_feedback-block, .contact-warm_feedback-block {
    width: 50%;
}

.contacts-cold_feedback-block {
    padding-top: 30px;
}

.contact-emails--item {
    display: flex;
    flex-direction: row;
}

.contact-emails--item > .contact-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.location-text {
    margin-right: 30px;
}

.email-text {
    color: #B62D39;
    margin-left: 20px;
}

.contact-image img {
    width: 450px;
}

.contact-emails_list {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* contact inputs */

.advantages-info {
    background: url("../../assets/icons/jat-advantage-icon.svg") no-repeat 20px 30px;
    background-size: 50px;
    padding-right: 50px;
}

.advantages-info_inner {
    padding-top: 30px;
    padding-left: 85px;
}

.advantage-info_title {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.advantage-info_content {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 50px 0;
}

.jat-inputs_block {
    margin-bottom: 15px;
}

.jat-input--item {
    padding: 10px 5px 10px 0;
}

.jat-contact_input {
    width: 100%;
    height: 35px;
    border: 1px solid #393940;
    border-radius: 3px;
    padding-left: 10px;
    color: #131313;
}

.jat-contact_input::placeholder {
    color: #131313;
    opacity: 0.32;
}

.textarea-input {
    padding-top: 10px;
    height: 60px;
}

.advantages-button, .hr-button {
    text-transform: uppercase;
    background-color: #FFE800;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    width: 85%;
    height: 50px;
    margin-bottom: 50px;
}

/* jat footer */

.jat-footer {
    height: 100px;
    background: #fff url("../../assets/icons/transport-logo.png") no-repeat center;
    background-size: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    margin: 0 17.5% 0 15%;
    font-weight: 900;
    font-size: 8px;
    text-align: end;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .jat-body {
        background-position: 75px 0, -125px 0;
        background-size: 60px, 800px;
    }

    .main-body_logo {
        margin-top: 65px;
        margin-left: 65px;
    }

    .routing-block_item {
        margin: 25px 15px;
    }

    .routing-block_text {
        font-size: 10px;
    }

    .mail-text {
        margin-top: 10px;
    }

    .mail-icon_block {
        width: 60px;
        height: 60px;
        padding: 10px;
        background-size: 50px;
    }

    .language-selector {
        width: 40px;
        background-size: 40px;
        font-size: 10px;
        top: -40px;
        left: -145px;
    }

    .main-title_block {
        margin-left: 50px;
    }

    .main-body_title {
        font-size: 44px;
    }

    .main-body-content {
        margin-left: 55px;
    }

    .main-body-content_text {
        font-size: 12px;
    }

    .contact-text {
        font-size: 10px;
    }

    .contact-image img {
        width: 325px;
    }

    .jat-body-footer_inner {
        padding-left: 55px;
    }

    .advantages-info {
        background-size: 40px;
    }

    .advantages-info_inner {
        padding-left: 65px;
    }

    .advantage-info_title {
        font-size: 24px;
    }

    .advantages-button {
        height: 35px;
        width: 80%;
        font-size: 8px;
    }

    .jat-contact_input::placeholder {
        font-size: 10px;
    }

    .contacts-title--text {
        font-size: 22px;
    }

    .jat-footer {
        height: 60px;
        background-size: 750px;
    }

    .footer-text {
        font-size: 5px;
    }
}